{{!-- {{#if banners.top}}
<div class="banners" data-banner-location="top">
    <div class="banner">
        {{{limit banners.top 1}}}
    </div>
</div>
{{/if}} --}}


<div class="notifications">
    
    <!-- free shipping msg -->
    <!-- <div class="inner  closing" data-cookie="free-shipping-msg">
        <p class="f"><i class="fas fa-truck"></i> Free Shipping On Orders Over $25</p>
        <div class="more">Discount Visible In Cart</div>
        <div class="close"> <i class="fa fa-times"></i> </div>
    </div> -->

    <!-- register msg -->
    {{#if customer.email}}{{else}}
    <div class="inner closing" data-cookie="register-msg">
        <p class="f"><a href="{{urls.auth.create_account}}">Register an account111</a> to receive a 10% off <i
        class="fas fa-info-circle"></i></p>
        <div class="more">Find Coupon Code In Confirmation Email</div>
        <div class="close"> <i class="fa fa-times"></i> </div>
    </div>
    {{/if}}

</div>




<header class="header" role="banner">
    {{#if banners.top}}
        <div class="banners darker-bg closing" data-banner-location="top">
            <div class="banner">
                {{{limit banners.top 1}}}
            </div>
            <div class="close"> <i class="fa fa-times"></i> </div>
        </div>
    {{/if}}



    {{!-- <!-- above-nav-info --> --}}
    <div class="above-nav-info">
        <div class="container">
            <div class="level">

                {{!-- info --}}
                <div class="level-left level-edge">
                    <ul class="account-links ">
                        <div class="link-group info un-auth">
                            <li><a href="tel:{{settings.phone_number}}">{{settings.phone_number}}</a></li>
                            <li><a href="mailto:{{settings.email}}">info@biltongusa.com</a></li>
                        </div>
                    </ul>
                </div>

                {{!-- logo --}}
                <div class="level-item">
                    {{> components/common/store-logo}}
                </div>

                {{!-- account --}}
                <div class="level-right level-edge">
                    {{> components/deadsoxy/account-menu}}
                </div>

            </div>
        </div>
    </div>




    {{!-- <div class="tablet-lgo">
        {{> components/common/store-logo}}
    </div> --}}
    <div class="container">
        <div class="level">
            <div class="level-item main-nav" data-menu>
                {{> components/deadsoxy/navigation}}
            </div>
            <div class="level-right account-menu level-edge">
                <div class="level-item">
                    {{!-- {{> components/deadsoxy/account-menu}} --}}
                </div>
            </div>
        </div>
        {{{region name="header_bottom"}}}
    </div>
</header>




<script>
    // check if msg was seen already
    $('[data-cookie]').each( function(){
        var cookie_name = $(this).data('cookie');
        if(!$.cookie(cookie_name)) {
            $(this).addClass('show');
        }else {
            console.log(cookie_name,' Already Seen.');
        }
    });

    // close msg
    $('.close').click(function() {
        var parent = $(this).closest('.closing');
        parent.hide();
        if(parent.data('cookie')){
            console.log('set-cookie: ', parent.data('cookie'));
            $.cookie(parent.data('cookie'), true, { expires: 1 });
        }
    });

    // reveal "more"
    $('.notifications .inner').click( function() {
        console.log($(this).find('.more'));
        $(this).find('.more').toggleClass('show');
    });
</script>

