<div class="home-features" id="about">

  <div class="bg under"></div>
  <div class="bg about-bg"></div>
  
  <div class="over-c">
    <div class="grad-l"></div>
    <div class="container">
      <div class="columns">
        <div class="column left-col">
          <h3 class="sr-only">South African & Proud</h3>
          <img class="heading" src="{{cdn 'img/headings/home-about.svg'}}"></img>
          <p class="f">We are a family owned and operated business. We sell South African style gourmet cured meats and other South African products here in the USA. All our products come with a money back guarantee.  We have been making biltong and growing our business in the USA for 12 years now.  The product goes from strength to strength as our quality wins through and the customers come back for more. <a> More About Us</a></p>
        </div>
        <div class="column right-col">
        </div>
      </div>
    </div>
  </div>

</div>








