<div class="container">
    <div class="columns feature-set-1 _is-mobile_">
        <div class="column lft">
            <div class="pr zone" dz1 data-zone="dz1" data-dims="878w X 963h">
                <!-- <a href="javascript:void(0)" class="bb"><img src="{{cdn 'img/home/sub1.svg'}}"></a> -->
                <a href="javascript:void(0)" class="bb"><img data-fb-img="dz1"></a>
                <a upload-preview-dz1 class="hide pp"></a>
            </div>
        </div>
        <div class="column rght">
            <div class="r1">
                <div class="pr zone" dz2 data-zone="dz2" data-dims="911w X 482h">
                    <a href="javascript:void(0)" class="bb"><img data-fb-img="dz2"></a>
                    <a upload-preview-dz2 class="hide pp"></a>
                </div>
            </div>
            <div class="r2">
                <div class="pr zone" dz3 data-zone="dz3" data-dims="911w X 482h">
                    <a href="javascript:void(0)" class="bb"><img data-fb-img="dz3"></a>
                    <a upload-preview-dz3 class="hide pp"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="p1em"></div>