<div class="heroCarousel-content{{#unless show_background}}  heroCarousel-content--empty{{/unless}}" style="top: 45%;">
        <h1 class="car-title">{{{heading}}}</h1>
        <p class="car-para">{{{text}}}</p>
        {{#if button_text}}
            <a class="btn">{{button_text}}</a>
        {{/if}}
</div>


<!-- <div class="heroCarousel-content{{#unless show_background}}   heroCarousel-content--empty{{/unless}}" style="top: 45%;">
	<div class="carousel-img-top">
		<img src="{{heading}}">
	</div>
</div> -->


